
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;900&family=Open+Sans:wght@300;400;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,200;1,300;1,400;1,600;1,900&display=swap');
*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
 */
 :root{
    /* font family */
    --open: 'Open Sans', sans-serif;
    --nato : 'Noto Sans', sans-serif;
    --ralway :'Raleway', sans-serif;
    /* color */
    --color1 :#000;
    --color2: #fff;
    --desktop_header_text:#000;
    --logo_color_H:#312783;
    /* backgorund  */
    --header_bg : #111e22;
    --section_bg:#fff;
    --main__header : #13223f;
    --header_text:#fff;
    --header_text_hover:red;
    --desktop_header_top:#fff;
    --desktop_header:#fff;
    /* sizes */
    --font-size: 1.6rem;
    --max_width:140rem;
    --overflowx : hidden;
    /* footer */
    --footerbg:rgba(17,26,46,0.88);
    --ftext_color:#fff;
    --ftext_span:red;
    --fhover_color:red;
    --fhoverspan_color:green;
 }

 body{
    font-family: var(--open);
    background: #fff;
    font-size: var(--font-size);
    overflow-x: var(--overflowx);
    color: var(--color1);
    scroll-behavior: smooth;
 }
 main{
    overflow-x: hidden;
 }
 .container{
    max-width: var(--max_width);
    height: atuo;
 }
 /* ======  comon css start here ======== */
 .section-padding{
    padding: 7rem 0rem;
 }
p{ 
    margin: 0;
    padding: 0;
    color: var(--color1);
}
a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--color1);
}
ul,ol,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#show{
    display: block;
}


 /* ======  comon css end here ======== */
/* =============  main menu css start here ====== */
/* mobile header  */
.model_header{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.model_header span img{
    width: 7rem;
    margin-right: 1rem ;
}
.model_header h1{
    font-size: 3rem;
    color: var(--main__header);

}
.model_header button{
 padding: 1rem;
 font-size: 3rem;
 color: red;
 border: none;
 background: white;
transition: all 0.35s;
}
.model_header button:hover{
 background:rgb(245, 198, 198);
 padding: 1rem ;
}


/* scrol top button  */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button 20px from the bottom */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  












  /* ========  footer area css start heer ======== */

  .footer_bg_image{
    background-image: url(../img/footer_bg_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    

  }
  .footer_bg_image_overlay{
    background: var(--footerbg);
  }
  .header_top_content{
    padding: 2rem 0rem ;
  }
.header_top_content h1{
    color: var(--ftext_color);
    font-size: 4rem;
    font-weight: 700;
    font-family: var(--open);
}
.header_top_content span{
    color: rgb(145, 63, 49);
}
.header_top_content h1::after{
    content: '';
    height: 0.3rem;
    width: 10rem;
    background: red;
    display: block;
}
.header_top_content p{
    color: var(--ftext_color);
    font-family: var(--open);
}
.brb{
    border-bottom: 0.5px solid white;
}
/* footer content css  */
.footer_content_area{
    padding-top: 1rem ;
    padding-bottom: 8rem;
}
.footer_title{
    color: var(--ftext_color);
    text-transform: capitalize;
    font-family: var(--open);
    font-weight: 500;
    padding-bottom: 1.2rem;
    font-size:2rem
   
}
.footer_title::after{
    content: '';
    display: block;
    height: 0.2rem;
    width: 6rem;
    background: red;
}
.footer_logo a img{
    height: 10rem;
}
.footer_content p a{
    color: var(--ftext_color);;
}
.footer_content ul li{
    display: block;
    padding: .5rem 0rem;
    transition: all 0.35s;
}
.footer_content ul li span{
    color:var(--ftext_span);
    font-size: 1.4rem;
}
.footer_content ul li a{
    color: var(--ftext_color);
    transition: all 0.35s;
    text-transform: capitalize;
}
.footer_content ul li:hover a{
    color: var(--fhover_color);
    padding-left:1rem ;
}
.footer_content ul li:hover span{
    color: var(--fhoverspan_color);
  
}


/* === copyright content  */
.copyright_bg{
    background: #111a2e;
}
.copyright_content {
    text-align: center;
}
.copyright_content p{
    color: #fff;
    padding: 1rem 0rem ;
}
.copyright_content span{
    color: red;
    ;
}


